@media (max-width: 998px) {
	.textarea-block {
		margin-top: 100px !important;
	}
}
@media (max-width: 767px) {
	.textarea-block {
		margin-top: 50px !important;
	}
}
@media (max-width: 470px) {
	.inner-column {
		width: 250px;
	}
}
@media (max-width: 375px) {
	.inner-column {
		width: 200px;
	}
}