@media (max-width: 1499px) {
	.column {
		max-width: 400px;
		display: block;
		margin: 0 auto;
	}
	.textarea-block {
		margin-top: 200px;
	}
}
@media (max-width: 1200px) {
	.propositions-part {
		flex-direction: column;
	}
	.private-dinner, .info, .couple-dinner {
		margin-right: 0;
		margin-left: 0;
	}
	.info {
		margin: 100px 0;
	}
}

@media (max-width: 375px) {
	.dinning-head {
		margin-left: 0px;
		text-align: center;
	}
	.dinning {
		width: 100%;
	}
	.dinning-desc {
		max-width: 295px;
		margin-left: 10px;
	}
	.dinning-img img {
		max-width: 100%;
	}
	.info ul {
		padding: 58px 20px;
	}
	.private-dinner ul, .couple-dinner ul {
		max-width: 320px;
	}
}