.color_pear {
  color: #d38a0c; }

.color_ink {
  color: #2c465a; }

.color_black-shadow {
  color: rgba(0, 0, 0, 0.1); }

.color_dark {
  color: #14141d; }

.color_less-dark {
  color: #363d43; }

.color_light-gray {
  color: #adb2b7; }

.color_gray-better {
  color: #616161; }

.color_lighter-gray {
  color: #5c6369; }

.color_white {
  color: #ffffff; }

.color_medium-white {
  color: #d7d7d7; }

.color_orange {
  color: #fea100; }

.color_pink {
  color: #fe4c8d; }

.color-bg_graphite {
  background-color: #565f61; }

.color_medium-gray {
  color: #7d8587; }

.color-bg_dark-bg {
  background-color: #373844; }

.color-bg_white {
  background-color: #ffffff; }

.color-bg_orange {
  background-color: #fea100; }

.color-bg_pink {
  background-color: #fe4c8d; }

.color-bg_slight-blue {
  background-color: #edf1f3; }

.color-bg_orange {
  background-color: #fea100; }

.color_dark-grey {
  color: #2c465a; }

.color-bg_white {
  color: #f4f4f4; }

.color_lightest-grey {
  color: #f4f4f4; }

.color-bg_medium-gray {
  background-color: #7d8587; }
